@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ae253e');
  src:  url('../fonts/icomoon.eot?ae253e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ae253e') format('truetype'),
    url('../fonts/icomoon.woff?ae253e') format('woff'),
    url('../fonts/icomoon.svg?ae253e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-up:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
