<div id="mc_embed_signup" class="mailchimp-newsletter">
    <form
        action="https://happy-dev.us16.list-manage.com/subscribe/post?u=38e94972f3555c369215ae6cd&amp;id=74dede672c&amp;f_id=008269e0f0"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank">
        <div id="mc_embed_signup_scroll">
            <h2>S'inscrire à la newsletter</h2>
            <div class="mc-field-group"><label for="mce-EMAIL">Email <span class="asterisk">*</span></label><input
                    type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot
                signups */
                <input type="text" name="b_38e94972f3555c369215ae6cd_74dede672c" tabindex="-1" value="">
            </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="S'inscrire">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[2] = 'MMERGE2'; ftypes[2] = 'text'; fnames[1] = 'NOM'; ftypes[1] = 'text'; fnames[5] = 'CITY'; ftypes[5] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);
</script>