/* variables */
.bckg-light-yellow {
  background-color: #FFDE70;
}

.bckg-dark-blue {
  background-color: #2D3A67;
}

.bckg-purple {
  background-color: #6760D2;
}

.bckg-blue-purple {
  background-color: #485C9F;
}

.bckg-green {
  background-color: #7FF1C0;
}

.white,
.white:hover {
  color: #fff;
}

.purple,
.purple:hover {
  color: #6760D2;
}

.light-purple,
.light-purple:hover {
  color: #6259E5;
}

.green,
.green:hover {
  color: #7FF1C0;
}

.grey {
  color: #666F8E;
}

.dark-blue {
  color: #2D3A67;
}

.light-yellow {
  color: #FFDE70;
}

.blue {
  color: #3830B0;
}

.blue-purple {
  color: #485C9F;
}

.white-btn {
  background-color: white;
}

.light-yellow-btn {
  background-color: #FFDE70;
}

.green-btn {
  background-color: #7FF1C0;
}

@font-face {
  font-family: 'bebasneue';
  src: url("../media/fonts/bebasneue.eot");
  src: url("../media/fonts/bebasneue.eot") format("embedded-opentype"), url("../media/fonts/bebasneue.woff2") format("woff2"), url("../media/fonts/bebasneue.woff") format("woff"), url("../media/fonts/bebasneue.ttf") format("truetype"), url("../media/fonts/bebasneue.svg#bebasneue") format("svg");
}

@font-face {
  font-family: 'Gotham';
  src: url("../media/fonts/GothamBook.eot");
  src: url("../media/fonts/GothamBook.eot") format("embedded-opentype"), url("../media/fonts/GothamBook.woff2") format("woff2"), url("../media/fonts/GothamBook.woff") format("woff"), url("../media/fonts/GothamBook.ttf") format("truetype"), url("../media/fonts/GothamBook.svg#GothamBook") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url("../media/fonts/GothamMedium.eot");
  src: url("../media/fonts/GothamMedium.eot") format("embedded-opentype"), url("../media/fonts/GothamMedium.woff2") format("woff2"), url("../media/fonts/GothamMedium.woff") format("woff"), url("../media/fonts/GothamMedium.ttf") format("truetype"), url("../media/fonts/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: 600;
}

@font-face {
  font-family: 'Gotham';
  src: url("../media/fonts/GothamBold.eot");
  src: url("../media/fonts/GothamBold.eot") format("embedded-opentype"), url("../media/fonts/GothamBold.woff2") format("woff2"), url("../media/fonts/GothamBold.woff") format("woff"), url("../media/fonts/GothamBold.ttf") format("truetype"), url("../media/fonts/GothamBold.svg#GothamBold") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url("../media/fonts/GothamBlack.eot");
  src: url("../media/fonts/GothamBlack.eot") format("embedded-opentype"), url("../media/fonts/GothamBlack.woff2") format("woff2"), url("../media/fonts/GothamBlack.woff") format("woff"), url("../media/fonts/GothamBlack.ttf") format("truetype"), url("../media/fonts/GothamBlack.svg#GothamBlack") format("svg");
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir';
  src: url("../media/fonts/AvenirBook.eot");
  src: url("../media/fonts/AvenirBook.eot") format("embedded-opentype"), url("../media/fonts/AvenirBook.woff2") format("woff2"), url("../media/fonts/AvenirBook.woff") format("woff"), url("../media/fonts/AvenirBook.ttf") format("truetype"), url("../media/fonts/AvenirBook.svg#AvenirBook") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url("../media/fonts/AvenirBookOblique.eot");
  src: url("../media/fonts/AvenirBookOblique.eot") format("embedded-opentype"), url("../media/fonts/AvenirBookOblique.woff2") format("woff2"), url("../media/fonts/AvenirBookOblique.woff") format("woff"), url("../media/fonts/AvenirBookOblique.ttf") format("truetype"), url("../media/fonts/AvenirBookOblique.svg#AvenirBookOblique") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url("../media/fonts/AvenirRoman.eot");
  src: url("../media/fonts/AvenirRoman.eot") format("embedded-opentype"), url("../media/fonts/AvenirRoman.woff2") format("woff2"), url("../media/fonts/AvenirRoman.woff") format("woff"), url("../media/fonts/AvenirRoman.ttf") format("truetype"), url("../media/fonts/AvenirRoman.svg#AvenirRoman") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url("../media/fonts/AvenirHeavy.eot");
  src: url("../media/fonts/AvenirHeavy.eot") format("embedded-opentype"), url("../media/fonts/AvenirHeavy.woff2") format("woff2"), url("../media/fonts/AvenirHeavy.woff") format("woff"), url("../media/fonts/AvenirHeavy.ttf") format("truetype"), url("../media/fonts/AvenirHeavy.svg#AvenirHeavy") format("svg");
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src: url("../media/fonts/AvenirBlack.eot");
  src: url("../media/fonts/AvenirBlack.eot") format("embedded-opentype"), url("../media/fonts/AvenirBlack.woff2") format("woff2"), url("../media/fonts/AvenirBlack.woff") format("woff"), url("../media/fonts/AvenirBlack.ttf") format("truetype"), url("../media/fonts/AvenirBlack.svg#AvenirBlack") format("svg");
  font-weight: 900;
}

@font-face {
  font-family: 'bigjohn';
  src: url("../media/fonts/bigjohn.eot");
  src: url("../media/fonts/bigjohn.eot") format("embedded-opentype"), url("../media/fonts/bigjohn.woff2") format("woff2"), url("../media/fonts/bigjohn.woff") format("woff"), url("../media/fonts/bigjohn.ttf") format("truetype"), url("../media/fonts/bigjohn.svg#bigjohn") format("svg");
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: "Avenir";
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.8rem;
}

p {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.plus-size {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.plus-size b {
  font-weight: 700;
}

@media (max-width: 768px) {
  .plus-size {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

li {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.big-grey-text {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.9rem;
  color: #E6E8EF;
  max-width: 200px;
}

.thin {
  font-weight: 300;
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 35rem);
  }
}

@media (max-width: 767px) {
  main {
    min-height: calc(100vh - 24rem);
  }
}

/* stucture */
@media (min-width: 576px) {
  .container {
    width: 90%;
    max-width: 1440px;
  }
}

img {
  max-width: 100%;
}

.p-6 {
  padding: 5rem;
}

@media (max-width: 575px) {
  .p-6 {
    padding: 26px;
  }
}

.motif {
  background: url("/media/img/motif.png") repeat left top;
}

.p-title {
  padding-top: 70px;
  width: 100%;
}

.page-top {
  position: relative;
}

.page-top h1 {
  z-index: 1;
  background-color: #FFDE70;
  height: 55px;
  width: 335px;
  text-align: center;
  line-height: 55px;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  top: 125px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .page-top .presentation {
    padding-top: 160px;
    padding-bottom: 25px;
  }
}

.page-top .pad-img {
  padding: 15px 50px 0 0;
}

.page-top img {
  width: 100%;
  height: auto;
  margin-bottom: -30px;
  box-shadow: 15px 15px 43px 0 rgba(52, 59, 66, 0.34);
}

.page-top p {
  width: 95%;
}

.page-top .solid-link {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .page-top h1 {
    position: absolute;
    left: 50%;
  }

  .page-top p {
    max-width: 650px;
  }
}

@media (max-width: 920px) {
  .page-top .plus-size {
    line-height: 2.6rem;
  }
}

@media (max-width: 991px) {
  .page-top .p-title {
    padding-top: 100px;
  }

  .page-top h1 {
    margin-left: 50%;
    margin-bottom: 40px;
  }

  .page-top p {
    text-align: center;
  }

  .page-top img {
    margin-bottom: -80px;
  }
}

@media (max-width: 767px) {
  .page-top h1 {
    font-size: 2rem;
  }
}

.page-second {
  margin-top: 15rem;
  position: relative;
}

.page-fourth {
  margin-bottom: 5rem;
}

.page-third,
.page-fourth,
.page-fifth {
  margin-top: 75px;
  position: relative;
}

.page-second .illustration {
  height: 125px;
  position: relative;
}

.page-second .illustration img {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.page-second .solid-link {
  text-align: right;
  margin: 15px 0;
}

.page-second .link span:before {
  background-color: #FFDE70;
}

.page-second .link:hover span:before {
  background-color: transparent;
  border-bottom: solid #FFDE70;
}

.FAQ-section {
  padding-bottom: 5rem;
}

.FAQ-section h2 {
  font-size: 3rem;
}

.FAQ-section .faq-container {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  cursor: pointer;
  justify-content: center;
}

.FAQ-section .faq-container .solid-display {
  width: 400px;
  height: 100px;
  background-color: white;
  box-shadow: 15px 15px 43px 0 rgba(52, 59, 66, 0.2);
  -webkit-box-shadow: 15px 15px 43px 0 rgba(52, 59, 66, 0.2);
  margin: 15px;
}

.FAQ-section .faq-container .solid-display div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.FAQ-section .faq-container .solid-display .solid-display-value {
  width: 250px;
  text-align: center;
  margin: auto;
  max-height: 70px;
  overflow: hidden;
  color: #303753;
}

.FAQ-section .faq-container .solid-display:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.FAQ-section .link {
  margin-top: 35px;
}

@media (max-width: 768px) {
  .FAQ-section {
    margin-top: 0;
  }
}

@media (max-width: 426px) {
  .FAQ-section .link {
    font-size: 1.6rem;
  }
}

.appear {
  opacity: 0;
  transform: translateY(15px);
  transition: transform 0.8s, opacity 0.4s;
}

.appear.app-sc {
  transform: scale(0.7);
}

@media (min-width: 1200px) {
  .appear.app-r {
    transform: translateX(50px);
  }

  .appear.app-l {
    transform: translateX(-50px);
  }

  .appear.app-sr {
    transform: translateX(50px) scale(0.95);
  }

  .appear.app-bl {
    transform: translate(-50px, 80px);
  }
}

.appear.show {
  opacity: 1;
  transform: translateY(0) translateX(0) scale(1);
}

@media (max-width: 767px) {
  .big-grey.parall-3 {
    transform: translate(0, 0) !important;
  }

  .big-grey-text.parall-3 {
    transform: translate(0, 0) !important;
  }
}

[name="permissions"] {
  display: none;
}

/* components */
.btn-hd {
  width: 230px;
  height: 48px;
  line-height: 48px;
  position: relative;
  color: #6259E5;
  border: none;
  border-radius: 25px;
  font-family: Avenir;
  font-weight: 900;
  font-size: 1.8rem;
  max-width: 100%;
  box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-hd:hover .not-hover {
  display: none;
}

.btn-hd .display-hover {
  display: none;
}

.btn-hd:hover .display-hover {
  display: block;
}



.solid-link {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.7rem;
  margin-bottom: 0;
  color: white;
}

.solid-link:hover {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.7rem;
  margin-bottom: 0;
  color: white;
}


solid-link {
  cursor: pointer;
}

.link {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2rem;
  cursor: pointer;
}

.link span {
  position: relative;
  z-index: 0;
}

.link span:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 10px;
  width: 100%;
  height: 13px;
  z-index: -1;
}

.link:hover span:before {
  left: 0;
}

.link.dark-blue.yellow-line span:before {
  background-color: #FFDE70;
}

.link.dark-blue.yellow-line:hover span:before {
  background-color: transparent;
  border-bottom: solid #FFDE70;
}

.link.dark-blue.white-line span:before {
  background-color: white;
}

.link.dark-blue.white-line:hover span:before {
  background-color: transparent;
  border-bottom: solid white;
}

.link.light-yellow span::before {
  background-color: #5149C2;
}

.link.light-yellow:hover span:before {
  background-color: transparent;
  border-bottom: solid #5149C2;
}



.img-parall {
  position: relative;
  transform-style: inherit;
}

.parall-1,
.parall-2 {
  position: absolute;
  top: 200px;
  left: 0;
}

li.icon-check {
  list-style-type: none;
}

.icon-check:before {
  color: #7FF1C0;
  position: absolute;
  left: 50px;
  margin-top: 6px;
  font-size: 13px;
}

.testimonies .big-grey {
  color: #E6E8EF;
  font-size: 5rem;
  font-family: Gotham;
  font-weight: 700;
  width: 260px;
  position: absolute;
  left: 500px;
  top: 0px;
}

.testimonies .solid-display .solid-display {
  display: block;
  padding: 80px;
}

.testimonies .solid-display .solid-display .solid-display-img img {
  width: 380px;
  max-width: 90%;
  height: 480px;
  object-fit: cover;
}

.testimonies .solid-display .solid-display [name="info"] {
  transform: translate(230px, -150px);
  width: 500px;
  max-width: 100%;
  padding: 50px;
  font-family: Avenir;
  background: linear-gradient(135.73deg, #FFFFFF 0%, #EAEAEA 100%);
  display: block;
}

.testimonies .solid-display .solid-display .testimony-text div {
  font-size: 2rem;
  font-style: italic;
  line-height: 3.4rem;
  color: #666F8E;
  font-weight: 300;
}

.testimonies .solid-display .solid-display .testimony-name div,
.testimonies .solid-display .solid-display .testimony-statut div {
  text-align: right;
  color: #2D3A67;
  font-size: 1.8rem;
}

.testimonies .solid-display .solid-display .testimony-name div {
  font-weight: 700;
}

.testimonies nav {
  position: absolute;
  top: 360px;
  left: 535px;
}

.testimonies nav button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: transparent;
}

.testimonies nav button:after {
  font-family: icomoon;
  color: #7FF1C0;
  font-size: 22px;
}

.testimonies nav button:hover:after {
  color: #6259E5;
}

.testimonies nav button:first-child {
  left: -45px;
}

.testimonies nav button:nth-child(2) {
  left: 55px;
}

.testimonies nav button:first-child:after {
  content: "\e901";
}

.testimonies nav button:nth-child(2):after {
  content: "\e904";
}

.testimonies nav span {
  font-size: 16px;
  color: #6760D2;
  font-family: Avenir;
  font-weight: 900;
  line-height: 33px;
}

.testimonies nav>span {
  width: 65px;
  text-align: center;
  display: inline-block;
}

.next-event .solid-display {
  height: 460px;
  width: 362px;
  max-width: 100%;
  display: block;
  background-color: #FFDE70;
  margin: auto;
}

.next-event .solid-display img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.next-event .solid-display [name="info"],
.next-event .solid-display hd-display-location {
  font-family: Avenir;
}

.next-event .solid-display [name="info"] {
  padding: 25px;
  display: block;
}

.next-event .solid-display hd-display-location {
  padding: 0 50px;
  display: block;
  position: relative;
}

.next-event .solid-display .mdi-map-marker::before {
  position: absolute;
  top: -5px;
  left: 25px;
  font-size: 20px;
  color: #6760D2;
}

.next-event .solid-display .nextevent-startdate,
.next-event .solid-display .nextevent-name div {
  color: #2D3A67;
}

.next-event .solid-display .nextevent-startdate,
.next-event .solid-display .event-place a,
.next-event .solid-display .event-place-address a {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.next-event .solid-display .nextevent-name div {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 900;
  margin-top: 5px;
}

.next-event .solid-display .event-place a,
.next-event .solid-display .event-place-address a {
  font-weight: 300;
  color: #303753;
}

.next-event .solid-display .event-place a {
  text-decoration: underline;
}

.next-event .title {
  font-family: Gotham;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 0;
  box-shadow: 0 9px 10px 2px rgba(0, 0, 0, 0.21);
}

.next-event nav {
  display: none;
}

.next-event .solid-link {
  margin-top: -50px;
  display: block;
}

.loading-block {
  width: 400px;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.loading-block .mdi-loading {
  margin-top: 65px;
  color: #5CDABF;
  font-size: 55px;
  animation: turn 5s linear infinite;
  width: 55px;
  margin: auto;
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 992px) {
  .testimonies {
    margin-top: -500px;
  }
}

@media (max-width: 1300px) {
  .testimonies .solid-display .solid-display [name="info"] {
    width: 450px;
    transform: translate(175px, -90px);
  }
}

@media (max-width: 1110px) {
  .testimonies .solid-display .solid-display [name="info"] {
    transform: translate(110px, -50px);
  }

  .testimonies .big-grey {
    font-size: 4rem;
    left: 390px;
  }
}

@media (max-width: 991px) {
  .testimonies .solid-display .solid-display {
    padding: 0;
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  ul {
    padding-left: 20px;
  }

  ul .icon-check::before {
    left: 26px;
  }

  .testimonies {
    margin-top: 40px;
    padding: 0;
  }

  .testimonies .solid-display .solid-display .solid-display-img img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 20px;
  }

  .testimonies .solid-display .solid-display [name="info"] {
    transform: translateY(-30px);
    width: 90%;
    margin-left: 10%;
    z-index: -1;
  }

  .testimonies .big-grey {
    font-size: 3.5rem;
    left: 25%;
    top: 40px;
    text-align: right;
  }

  .testimonies nav {
    top: 140px;
    left: 220px;
  }

  .next-event .solid-display {
    margin: 0;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  .next-event .solid-link {
    width: 250px;
    padding: 0;
    float: right;
  }
}

@media (max-width: 440px) {
  .testimonies .solid-display .solid-display .solid-display-img img {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: relative;
    margin-top: 25px;
  }

  .testimonies .solid-display .solid-display [name="info"] {
    padding: 20px;
    margin-top: 10px;
  }

  .testimonies .solid-display .solid-display [name="info"] .testimony-text div {
    font-size: 1.8rem;
    line-height: 3rem;
    padding-top: 20px;
  }

  .btn-hd {
    font-size: 1.6rem;
  }
}

header {
  position: absolute;
  width: 100%;
  z-index: 12;
  height: 70px;
}

header .logo {
  font-family: 'bigjohn';
  color: #fff;
  font-size: 30px;
  line-height: 30px;
}

header .logo:hover {
  text-decoration: none;
}

header .menu-element {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

header .menu-element:hover,
header .languagechoice:hover {
  border-bottom: solid 2px;
  text-decoration: none;
}

header .solid-route.icon-email {
  font-size: 25px;
  color: #fff;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}

header .solid-route.icon-email:hover {
  text-decoration: none;
  transform: rotate(25deg);
  border-bottom: none;
}

header summary::-webkit-details-marker {
  display: none;
}

header summary {
  height: 20px;
  position: relative;
  z-index: 1;
}

header summary .menu-logo {
  width: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header summary .menu-logo span {
  border-bottom: solid 1.5px;
  border-radius: 2px;
  height: 2px;
  border-top: solid 1.5px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header summary .menu-logo span:nth-child(1),
header summary .menu-logo span:nth-child(2) {
  width: 35px;
}

header summary .menu-logo span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

header summary .menu-logo span:nth-child(2) {
  top: 8px;
  right: 0;
  transition: width 0.5s ease-in, right 0.3s ease-in, opacity 0.2s ease-in;
  -webkit-transition: width 0.5s ease-in, right 0.3s ease-in, opacity 0.2s ease-in;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

header summary .menu-logo span:nth-child(3) {
  top: 16px;
  width: 20px;
  right: 0;
  transition: width 0.5s ease-in;
  -webkit-transition: width 0.5s ease-in;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

header .menu-logo:focus,
header summary:focus {
  outline: none;
}

header details[open] .menu-logo span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 5px;
}

header details[open] .menu-logo span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header details[open] .menu-logo span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 5px;
  width: 35px;
}

header summary:hover .menu-logo span:nth-child(2) {
  width: 15px;
  right: 10px;
}

header summary:hover .menu-logo span:nth-child(3) {
  width: 35px;
}

header details>summary {
  display: block;
}

header .menu {
  font-family: 'Avenir';
  font-weight: 300;
  color: #fff;
  font-size: 1.8rem;
  line-height: 4rem;
}

header .menu .menu-element {
  margin: auto 10px;
}

header .menu .languagechoice {
  margin: 0 15px 0 25px;
  cursor: pointer;
}

header .menu-opened {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

header .menu-opened .clients-menu,
header .menu-opened .talents-menu,
header .menu-opened .about-menu {
  z-index: 2;
}

header .menu-opened .clients-menu h2 span:after,
header .menu-opened .talents-menu h2 span:after,
header .menu-opened .about-menu h2 span:after {
  content: '';
  border: solid 2px;
  width: 35px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

header .menu-opened a,
header .menu-opened a:hover {
  color: white;
}

header .menu-opened h2 {
  height: 60px;
  margin: 30px;
  font-size: 3.2rem;
  line-height: 3.9rem;
}

header .menu-opened h2 span {
  position: relative;
}

header .menu-opened .link span::before {
  background-color: #FFDE70;
}

header .menu-opened .link:hover span::before {
  background-color: transparent;
  border-bottom: solid #FFDE70;
}

header details[open] summary {
  color: white;
  position: fixed;
  top: 25px;
}

header details[open] summary~* {
  animation: sweepin .5s ease-in-out;
}

@keyframes sweepin {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

header details:not([open]) summary~* {
  animation: sweepout .5s ease-in-out;
}

@keyframes sweepout {
  0% {
    opacity: 1;
    height: 100%;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@media (min-width: 768px) {
  header details[open] summary {
    transform: translateX(40px);
    animation: movesummary .5s ease-in;
  }

  @keyframes movesummary {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(70px);
    }
  }
}

header .solid-route span {
  cursor: pointer;
}

header .solid-route span:hover {
  border-bottom: solid 2px;
}

header .solid-route .yellow-line span:hover {
  border-bottom: 0;
}

@media (min-width: 768px) {
  body.home header {
    position: fixed;
  }
}

header.home-talents .logo,
header.home-clients .logo {
  color: #FDC815;
}

header.home-talents .menu-element,
header.home-clients .menu-element {
  color: #6760D2;
}

@media (max-width: 768px) {
  header .menu-opened h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 15px;
  }

  details[open] summary {
    right: 45px;
  }
}

@media (max-width: 500px) {
  header .menu-opened h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin: 10px;
  }

  header .menu {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

@media (max-width: 440px) {
  header .menu {
    line-height: 2.4rem;
  }

  header .menu-opened .clients-menu,
  header .menu-opened .talents-menu,
  header .menu-opened .about-menu,
  header .menu-opened .contact-menu {
    padding: 10px;
  }

  header .menu-opened .clients-menu h2,
  header .menu-opened .talents-menu h2,
  header .menu-opened .about-menu h2,
  header .menu-opened .contact-menu h2 {
    text-align: left;
    padding-left: 25px;
  }

  header .menu-opened .clients-menu h2,
  header .menu-opened .talents-menu h2,
  header .menu-opened .about-menu h2 {
    height: 30px;
  }

  header .menu-opened .clients-menu h2 span::after,
  header .menu-opened .talents-menu h2 span::after,
  header .menu-opened .about-menu h2 span::after {
    bottom: -10px;
  }

  header .menu-opened .clients-menu .solid-route,
  header .menu-opened .clients-menu a,
  header .menu-opened .talents-menu .solid-route,
  header .menu-opened .talents-menu a,
  header .menu-opened .about-menu .solid-route,
  header .menu-opened .about-menu a {
    text-align: left;
    padding-left: 35px;
  }

  header .menu-opened .contact-menu {
    min-height: 200px;
    padding-top: 5px;
    justify-content: left !important;
  }

  header .footer-social {
    justify-content: left !important;
    padding-left: 35px;
  }
}

footer,
.mobile-home-footer {
  background-color: #2D3A67;
  z-index: 1;
}

footer h3,
.mobile-home-footer h3 {
  font-size: 1.7rem;
}

footer .footer-mobile .solid-link,
footer .solid-link p,
.mobile-home-footer .footer-mobile .solid-link,
.mobile-home-footer .solid-link p {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.7rem;
  margin-bottom: 0;
}

footer summary::-webkit-details-marker,
.mobile-home-footer summary::-webkit-details-marker {
  display: none;
}

footer details>summary,
.mobile-home-footer details>summary {
  display: block;
}

footer summary,
.mobile-home-footer summary {
  height: 20px;
  position: relative;
  z-index: 1;
}

footer summary .menu-logo,
.mobile-home-footer summary .menu-logo {
  width: 35px;
}

footer summary .menu-logo span,
.mobile-home-footer summary .menu-logo span {
  border-bottom: solid 1.5px;
  border-radius: 2px;
  height: 2px;
  border-top: solid 1.5px;
  position: absolute;
  width: 35px;
  right: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

footer summary .menu-logo span:nth-child(1),
.mobile-home-footer summary .menu-logo span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

footer summary .menu-logo span:nth-child(2),
.mobile-home-footer summary .menu-logo span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

footer summary .menu-logo span:nth-child(3),
.mobile-home-footer summary .menu-logo span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

footer .menu-logo:focus,
footer summary:focus,
.mobile-home-footer .menu-logo:focus,
.mobile-home-footer summary:focus {
  outline: none;
}

footer details[open] .menu-logo,
.mobile-home-footer details[open] .menu-logo {
  bottom: 20px;
  position: absolute;
  right: -40px;
}

footer details[open] .menu-logo span:nth-child(1),
.mobile-home-footer details[open] .menu-logo span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 5px;
}

footer details[open] .menu-logo span:nth-child(2),
.mobile-home-footer details[open] .menu-logo span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

footer details[open] .menu-logo span:nth-child(3),
.mobile-home-footer details[open] .menu-logo span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  left: 5px;
  width: 35px;
}

footer .menu-opened,
.mobile-home-footer .menu-opened {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #2D3A67;
  overflow-y: auto;
  flex-wrap: wrap;
  padding-top: 30px;
}

.footer-list .solid-link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {

  footer,
  .mobile-home-footer {
    height: 12rem;
    margin-top: 8rem;
  }

  footer .col-6,
  .mobile-home-footer .col-6 {
    height: 60px;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) {

  footer,
  .mobile-home-footer {
    height: 23rem;
  }
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: #fff;
  margin-right: 25px;
  font-size: 25px;
}

.footer-social a:hover {
  color: #FFDE70;
  text-decoration: none;
}

#home #h-title,
#home #h-talents,
#home #h-manifesto,
#home #h-collectif {
  height: 100vh;
  position: relative;
}

#home #h-clients {
  height: auto;
  position: relative;
}

#home .icon-down,
#home .icon-up {
  position: absolute;
  bottom: 30px;
  font-size: 30px;
  transition: bottom 0.5s ease-in-out;
  -webkit-transition: bottom 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
}

#home .icon-down:hover {
  bottom: 10px;
  text-decoration: none;
}

#home .icon-up:hover {
  bottom: 50px;
  text-decoration: none;
}

#home #h-title {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../media/img/home.jpg") center no-repeat;
  background-size: cover;
}

#home #h-title .container {
  padding-top: 70px;
}

#home #h-title h1 {
  color: #fff;
  font-size: 4rem;
  line-height: 5.4rem;
}

#home #h-title .subtitle {
  font-family: "Avenir";
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 30px;
}

#home #h-talents {
  background: linear-gradient(20.84deg, #FCF4CA 0%, #FFFFFF 50%);
}

#home #h-talents h2 {
  margin-bottom: 30px;
}

#home #h-talents p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  max-width: 850px;
}

#home #h-talents img {
  margin-top: 50px;
  height: 350px;
  width: auto;
  max-width: 100%;
}

@media (max-height: 700px) {

  #home #h-talents h2,
  #home #h-talents p {
    margin-bottom: 5px;
  }

  #home #h-talents img {
    margin-top: 0;
    max-height: 40vh;
  }
}

#home #h-manifesto .home-manifesto-img {
  background: #fff url("../media/img/home-2.jpg") center no-repeat;
  background-size: cover;
}

#home #h-manifesto p {
  margin-bottom: 40px;
  font-weight: 200;
  line-height: 2.6rem;
}



#home #h-manifesto .yellow-oval {
  background: #FFDE70 url("../media/img/oval.svg") center no-repeat;
  background-size: cover;
}

#home #h-collectif p {
  margin-bottom: 40px;
}

#home #h-collectif .link span:before {
  background-color: #6259E5;
}

#home #h-collectif .link:hover span:before {
  background-color: transparent;
  border-bottom: solid #6259E5;
}

#home #h-collectif img {
  width: 90%;
  height: auto;
  max-height: 350px;
}

@media (max-width: 767px) {
  #home #h-collectif p {
    margin-bottom: 15px;
  }

  #home #h-collectif .link {
    margin-top: 10px;
  }
}

#home #h-clients .container-clients {
  height: auto;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

#home #h-clients .link span:before {
  background-color: #FFDE70;
}

#home #h-clients .link:hover span:before {
  background-color: transparent;
  border-bottom: solid #FFDE70;
}

#home #h-clients .clients-logo {
  max-height: 450px;
  overflow-y: scroll;
}

#home #h-clients .clients-logo div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#home #h-clients .clients-logo div .solid-display {
  width: 150px;
  height: 150px;
  min-width: 25%;
  display: flex;
  margin: auto 0;
}

#home #h-clients .clients-logo div .solid-display .solid-display-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#home #h-clients #home-footer {
  height: 50px;
}

#home #h-clients #home-footer .home-social span {
  font-size: 20px;
  margin: 0 10px;
  color: #6760D2;
}

#home #h-clients #home-footer a:hover {
  text-decoration: none;
}

#home #h-clients #home-footer a:hover span {
  color: #FDC815;
}

@media (max-width: 767px) {
  #home #h-clients #home-footer .solid-link {
    margin: auto;
  }
}

@media (max-width: 440px) {
  #home .pagination {
    display: none;
  }

  #home #h-title h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  #home #h-title .subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  #home #h-talents p,
  #home #h-manifesto p,
  #home #h-collectif p {
    font-size: 1.6rem;
  }

  #home #h-manifesto p,
  #home #h-collectif p {
    line-height: 2.2rem;
  }

  #home #h-talents p {
    line-height: 3rem;
  }

  #home #h-talents h2 {
    margin-bottom: 0;
  }

  #home #h-talents img {
    max-height: 30vh;
  }

  #home #h-manifesto p {
    margin-bottom: 25px;
  }

  #home #h-collectif img {
    max-width: 250px;
  }

  #home #h-clients .clients-logo {
    max-height: 60vh;
  }

  #home #h-clients .clients-logo div .solid-display {
    width: 100px;
    height: 100px;
  }

  #home #h-clients .clients-logo div .solid-display div .solid-display-img {
    height: 75px;
    width: 100px;
    line-height: 75px;
  }
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 10;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: white;
  position: relative;
  padding: 4px;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
  border: 1px solid white;
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px #FDC815;
  border: none;
}

.pagination.home-title a:after,
.pagination.home-manifesto a:after,
.pagination.home-collectif a:after {
  border: 1px solid white;
}

.pagination.home-title a.active:after,
.pagination.home-manifesto a.active:after,
.pagination.home-collectif a.active:after {
  box-shadow: inset 0 0 0 5px #FDC815;
  border: none;
}

.pagination.home-talents a:after,
.pagination.home-clients a:after {
  border: 1px solid #6259E5;
}

.pagination.home-talents a.active:after,
.pagination.home-clients a.active:after {
  box-shadow: inset 0 0 0 5px #6259E5;
}

body.home footer {
  display: none;
}

@media (min-width: 768px) {
  .mobile-home-footer {
    display: none;
  }
}

#contact .hide-field {
  display: none;
}

#contact .p-title {
  height: 150px;
}

#contact .p-title h1 {
  width: 210px;
}

#contact .solid-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 80px;
}

#contact .solid-form .solid-form-label-text,
#contact .solid-form .solid-form-dropdown-label {
  width: 100%;
}

#contact .solid-form label,
#contact .solid-form select,
#contact .solid-form input,
#contact .solid-form hd-display-freelance,
#contact .solid-form .solid-form-file-label div {
  text-align: center;
  color: #6760D2;
  font-family: 'Avenir', sans-serif;
  font-size: 2rem;
  padding: 15px;
  max-width: 650px;
  width: 100%;
  margin: auto;
  position: relative;
}

#contact .solid-form label .blabla-freelance,
#contact .solid-form select .blabla-freelance,
#contact .solid-form input .blabla-freelance,
#contact .solid-form hd-display-freelance .blabla-freelance,
#contact .solid-form .solid-form-file-label div .blabla-freelance {
  max-width: 600px;
  padding: 20px;
  margin-bottom: 15px;
  line-height: 26px;
  border-radius: 6px;
  position: relative;
}

#contact .solid-form label .blabla-freelance button,
#contact .solid-form select .blabla-freelance button,
#contact .solid-form input .blabla-freelance button,
#contact .solid-form hd-display-freelance .blabla-freelance button,
#contact .solid-form .solid-form-file-label div .blabla-freelance button {
  margin: 5px;
  width: 200px;
}

#contact .solid-form label .blabla-freelance button:hover,
#contact .solid-form select .blabla-freelance button:hover,
#contact .solid-form input .blabla-freelance button:hover,
#contact .solid-form hd-display-freelance .blabla-freelance button:hover,
#contact .solid-form .solid-form-file-label div .blabla-freelance button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#contact .solid-form label .blabla-freelance button:hover .solid-link,
#contact .solid-form select .blabla-freelance button:hover .solid-link,
#contact .solid-form input .blabla-freelance button:hover .solid-link,
#contact .solid-form hd-display-freelance .blabla-freelance button:hover .solid-link,
#contact .solid-form .solid-form-file-label div .blabla-freelance button:hover .solid-link {
  margin-left: 0;
}

#contact .solid-form label label,
#contact .solid-form select label,
#contact .solid-form input label,
#contact .solid-form hd-display-freelance label,
#contact .solid-form .solid-form-file-label div label {
  padding: 15px 0;
}

#contact .solid-form hd-display-freelance {
  padding: 0px;
}

#contact .solid-form label,
#contact .solid-form input,
#contact .solid-form select,
#contact .solid-form textarea,
#contact .solid-form .solid-form-file-label label {
  width: 380px;
  max-width: 100%;
  line-height: 26px;
  padding: 20px;
  border-radius: 6px;
  position: relative;
}

#contact .solid-form label,
#contact .solid-form .solid-form-file-label label {
  background-color: #FFDE70;
}

#contact .solid-form .solid-form-file-label label {
  margin: 0;
  display: block;
}

#contact .solid-form input,
#contact .solid-form select,
#contact .solid-form textarea {
  background-color: #F1F2F9;
  color: #6760D2;
  float: right;
  margin-top: 15px;
  margin-bottom: 40px;
  border: none;
}

#contact .solid-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

#contact .solid-form select::-ms-expand {
  display: none;
}

#contact .solid-form select:focus {
  outline: none;
}

#contact .solid-form .solid-form-dropdown-label::before {
  position: relative;
  content: "";
  left: 92%;
  top: 117px;
  z-index: 1;
  font-size: 2.7rem;
  display: block;
  width: 12px;
  height: 12px;
  border-color: transparent #6760D2 #6760D2 transparent;
  border-width: 2px;
  border-style: solid;
  pointer-events: none;
  transform: rotate(45deg);
}

#contact .solid-form input[type="submit"] {
  display: none;
  height: 48px;
  width: 150px;
  border-radius: 24px;
  background-color: #7FF1C0;
  box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.08);
  color: #6760D2;
  font-family: Gotham;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  margin: 70px auto 0;
  padding: 0;
}

#contact button {
  width: 150px;
  margin-top: 50px;
}

#contact .conversation::after,
#contact .solid-form-file-label.conversation::after {
  content: '';
  border: solid;
  position: absolute;
  bottom: 10px;
  right: 250px;
  border-width: 30px 45px 70px 0px;
  border-color: transparent #F1F2F9 transparent transparent;
  transform: rotate(60deg);
  z-index: -1;
}

#contact .solid-form-file-label.conversation::after {
  content: none;
  right: calc(50% - 90px);
  bottom: -50px;
}

#contact .solid-form-file-label [type="text"] {
  display: none;
}

#contact .solid-form-file-label button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  margin-top: 30px;
  color: red;
  font-weight: 900;
  font-size: 25px;
}

#contact .confirmation-message {
  display: none;
}

#contact .confirmation-message .validation-message {
  width: 620px;
  max-width: 100%;
  border-radius: 6px;
  position: relative;
}

#contact .confirmation-message .validation-message p {
  margin-bottom: 2rem;
}

#contact .confirmation-message a:hover {
  color: #2D3A67;
  text-decoration: none;
}

#contact .err-msg:first-of-type {
  margin-top: 40px;
}

#contact .err-msg:last-of-type {
  margin-bottom: -20px;
}

#contact .err-msg {
  margin-top: 5px;
  font-family: 'Avenir', sans-serif;
  font-size: 1.5rem;
  color: red;
}

#contact .validation-message:before,
#contact .name-field label:before {
  content: url("/media/img/perso-contact.svg");
  position: absolute;
  top: -115px;
  z-index: -1;
}

#contact .validation-message:before {
  left: 20%;
}

#contact .validation-message:after,
#contact .name-field label:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 40px;
  border-style: solid;
  border-width: 30px 45px 70px 0px;
  border-color: transparent transparent #FFDE70 transparent;
  transform: rotate(-25deg);
  z-index: -1;
}

#contact .name-field label:after {
  right: 50px;
}

#contact .validation-message:after {
  right: 35%;
}

#contact .progressing-bar-container {
  width: 100%;
  max-width: 675px;
}

#contact progress[value] {
  width: 100%;
  height: 6px;
  background-color: #F1F2F9;
  border: none;
  margin-top: 55px;
  border-radius: 4px;
}

#contact progress[value]::-moz-progress-bar {
  height: 6px;
  background: linear-gradient(90deg, #5CDABF, #96EFE1);
  border-radius: 4px;
}

#contact progress[value]::-webkit-progress-bar {
  background-color: #F1F2F9;
  border: none;
  border-radius: 4px;
}

#contact progress[value]::-webkit-progress-value {
  height: 6px;
  background: linear-gradient(90deg, #5CDABF, #96EFE1);
  border-radius: 4px;
}

#nous-rejoindre .page-second p {
  max-width: 250px;
  margin: 20px auto;
}

#nous-rejoindre .page-second p .plus-size {
  line-height: 2.7rem;
}

#nous-rejoindre .page-third .container-parall .img-parall {
  height: 560px;
}

#nous-rejoindre .page-third .container-parall .img-parall .parall-1,
#nous-rejoindre .page-third .container-parall .img-parall .parall-2 {
  height: 600px;
  width: 350px;
}

#nous-rejoindre .page-third .container-parall .img-parall .parall-1 {
  background: url("/media/img/planete-court-2sur2.svg") left 0 no-repeat;
}

#nous-rejoindre .page-third .container-parall .img-parall .parall-2 {
  background: url("/media/img/planete-court-1sur2.svg") right 0 no-repeat;
}

#nous-rejoindre .page-fourth {
  margin-bottom: 50px;
}

#nous-rejoindre .page-fourth img {
  margin-top: -35px;
  margin-bottom: -35px;
}

#nous-rejoindre .page-fourth p {
  font-size: 1.9rem;
  line-height: 3rem;
}

@media (max-width: 767px) {
  #nous-rejoindre .page-fourth img {
    margin: 0;
  }

  #nous-rejoindre .page-fourth .page-third {
    margin-top: 40px;
  }
}

#qui-sommes-nous .page-second p {
  margin-bottom: 50px;
  line-height: 3.3rem;
}

#qui-sommes-nous .page-second .solid-link {
  text-decoration: underline;
  color: #3830B0;
}

#qui-sommes-nous .page-third .numbers {
  z-index: 1;
  margin-top: -135px;
}

#qui-sommes-nous .page-third .numbers .numbers-blocks {
  min-height: 200px;
}

#qui-sommes-nous .page-third .manette {
  position: absolute;
  bottom: 125px;
  left: calc(16.5vw - 30px);
}

#qui-sommes-nous .page-third .btn-number:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#qui-sommes-nous .page-third .manette:hover {
  transition: transform 0.3s ease-in;
  transform: rotateZ(15deg);
  transform-origin: bottom left;
}

#qui-sommes-nous .page-third .carousel,
#qui-sommes-nous .page-third .carousel-inner,
#qui-sommes-nous .page-third .carousel-item {
  height: 100%;
}

#qui-sommes-nous .page-third .carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#qui-sommes-nous .page-third .carousel-content p {
  color: #2D3A67;
  font-size: 2rem;
  line-height: 3.8rem;
}

#qui-sommes-nous .page-third .carousel-content p strong {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4rem;
}

#qui-sommes-nous .page-third .numbers-blocks .col-md-3:first-child {
  border-right: 1px solid #E4B412;
}

@media (min-width: 768px) {
  #qui-sommes-nous .page-third .numbers-blocks .col-md-3:nth-child(3) {
    border-left: 1px solid #E4B412;
  }
}

@media (max-width: 767px) {
  #qui-sommes-nous .page-third .numbers {
    margin-top: 0;
  }

  #qui-sommes-nous .page-third .manette {
    display: none;
  }

  #qui-sommes-nous .page-third #carousel3 {
    margin-top: 15px;
    border-top: 1px solid #E4B412;
    padding-top: 15px;
  }
}

#qui-sommes-nous .page-fourth p {
  max-width: 225px;
  margin: auto;
}

#qui-sommes-nous .vertical .carousel-item-next.carousel-item-left,
#qui-sommes-nous .vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#qui-sommes-nous .vertical .carousel-item-next,
#qui-sommes-nous .vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

#qui-sommes-nous .vertical .carousel-item-prev,
#qui-sommes-nous .vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}


#manifesto {
  margin-bottom: 10rem;
}

#manifesto p {
  font-size: 1.8rem;
  font-weight: 200;
}

#manifesto p.plus-size {
  font-size: 2rem;
}

#manifesto .purple {
  margin-top: 5rem;
  font-weight: 600;
}

#manifesto .parall-1,
#manifesto .parall-2 {
  height: 600px;
  width: 175px;
}

#manifesto .parall-1 {
  background: url("/media/img/planete-haut-2sur2.svg") left 0 no-repeat;
}

#manifesto .parall-2 {
  background: url("/media/img/planete-haut-1sur2.svg") right 0 no-repeat;
}

#vision .parall-1 {
  top: 100px;
}

#vision summary::-webkit-details-marker {
  display: none;
}

#vision details summary {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 51px;
  width: 100%;
}

#vision details summary p {
  height: 51px;
  line-height: 51px;
  padding-left: 25px;
  font-size: 1.8rem;
  font-weight: 600;
}

#vision details summary .mdi-chevron-down {
  line-height: 51px;
  font-size: 3rem;
  color: white;
  transform: rotateX(0);
  transition: transform 0.5s ease;
}

#vision details[open] summary .mdi-chevron-down {
  transform: rotateX(180deg);
}

#vision p.grey {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.9rem;
}

#vision .solid-link {
  text-decoration: underline;
  color: #3830B0;
}

@media (max-width: 523px) {
  #vision .vision-3 details summary {
    height: 80px;
    padding-top: 15px;
  }

  #vision .vision-3 details summary p {
    line-height: 25px;
  }
}

#faq {
  min-height: 1200px;
}

#faq .container-fluid {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#faq .parall-1,
#faq .parall-2 {
  height: 600px;
}

#faq .parall-1 {
  background: url("/media/img/glasses1sur2.svg") right 0 no-repeat;
  width: 117px;
}

#faq .parall-2 {
  background: url("/media/img/glasses2sur2.svg") left 0 no-repeat;
  width: 175px;
  top: 300px;
}

#faq .solid-form-search form {
  position: relative;
  width: 100%;
}

#faq .solid-form-search form .solid-form-placeholder-text {
  width: 100%;
}

#faq .solid-form-search form .solid-form-placeholder-text input {
  width: 100%;
  height: 45px;
  background-color: #F1F2F9;
  border: none;
  padding-left: 15px;
  color: #2D3A67;
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 22px;
}

#faq .solid-form-search form .solid-form-placeholder-text input:focus {
  border: 1px solid #E6E8EF;
  position: relative;
}

#faq .solid-form-search form::after {
  content: "\F463";
  font-family: "Material Design Icons";
  position: absolute;
  top: 3px;
  right: 20px;
  font-size: 2.5rem;
  color: #6760D2;
}

#faq .solid-display {
  transition: height 1s;
}

#faq .solid-display [name="question"] {
  color: #2D3A67;
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 22px;
}

#faq .solid-display [name="answer"] {
  color: #666F8E;
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 28px;
}

#faq .solid-display [name="answer"] a {
  color: #666F8E;
  text-decoration: underline;
}

@media (min-width: 992px) {

  #faq .solid-display .solid-display-value,
  #faq .solid-display hd-html-widget {
    max-height: 250px;
    transition: max-height 1s, opacity 1s;
  }
}

#faq .solid-display>div {
  margin: 3rem;
}

#faq .solid-display>div .solid-display div {
  margin: 0.5rem 0px;
  display: flex;
  flex-direction: column;
}

#faq .solid-display>div .solid-group-default>span {
  display: block;
  width: calc(100% + 6rem);
  height: 50px;
  background-color: #6760D2;
  color: white;
  padding: 15px 20px;
  margin: 15px -3rem;
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 22px;
}

/* 
#faq .solid-display>div .solid-group-default>span::after {
  content: "\F140";
  font-family: "Material Design Icons";
  font-size: 26px;
  position: absolute;
  right: 30px;
  transform: rotate(0deg);
  transition: transform 1s;
}
 */
#faq .closed span::after,
#faq .closed hd-html-widget {
  transform: rotate(180deg);
}

#faq .closed .solid-display div {
  margin-top: 0px;
  margin-bottom: 10px;
}

#faq .closed .solid-display div .solid-display-value,
#faq .closed .solid-display div hd-html-widget {
  display: none;
}

#faq .closed .solid-display,
#faq .closed hd-html-widget {
  display: none;
}

@media (max-width: 440px) {
  #faq .solid-display>div {
    margin: 0.5rem;
  }

  #faq .solid-display .solid-group-div .solid-group-default>span::after {
    right: 0;
  }
}

#collectives hd-empty-widget {
  display: none;
}

#collectives .solid-display {
  max-width: 1000px;
  display: block;
  position: relative;
}

#collectives .solid-display div .solid-display {
  width: 220px;
  float: left;
  position: relative;
  margin: 15px;
  padding-left: 0;
}

#collectives .solid-display div .solid-display div {
  display: flex;
}

#collectives .solid-display div .solid-display div .solid-display-value,
#collectives .solid-display div .solid-display div .solid-display-link,
#collectives .solid-display div .solid-display div .solid-display-blank-link,
#collectives .solid-display div .solid-display div hd-display-email-label {
  position: absolute;
}

#collectives .solid-display div .solid-display div .solid-display-img {
  position: relative;
}

#collectives .solid-display div .solid-display div .solid-display-img img {
  width: 220px;
  height: 290px;
  object-fit: cover;
}

#collectives .solid-display div .solid-display div .solid-display-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 290px;
  width: 220px;
  background: linear-gradient(0deg, #141C3A 0%, rgba(20, 28, 58, 0) 40%);
}

#collectives .solid-display .cell-name {
  color: white;
  font-family: Gotham;
  font-size: 2.6rem;
  font-weight: 700;
  width: 180px;
  left: 110px;
  text-align: center;
  transform: translateX(-50%);
  bottom: 15px;
  z-index: 1;
}

#collectives .solid-display .cell {
  font: normal normal normal 24px/1 "Material Design Icons";
  background-color: white;
  padding: 9px;
  border-radius: 25px;
  font-size: 2rem;
  z-index: 1;
  top: 10px;
}

#collectives .solid-display .cell a {
  color: #2D3A67;
}

#collectives .solid-display .cell a:hover {
  color: #6259E5;
  text-decoration: none;
}

#collectives .solid-display .cell-email {
  right: 10px;
}

#collectives .solid-display .solid-display-blank-link:nth-of-type(1) {
  right: 55px;
}

#collectives .solid-display .solid-display-blank-link:nth-of-type(2) {
  right: 100px;
}

#collectives .solid-display .solid-display-blank-link:nth-of-type(3) {
  right: 145px;
}

#collectives .solid-display .solid-display-labelled-boolean label {
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg);
  top: 38px;
  background-color: #FFDE70;
  left: -9px;
  height: 25px;
  line-height: 23px;
  width: 120px;
  color: #6259E5;
  font-family: Gotham;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

#collectives .solid-display .solid-display-labelled-boolean label:before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: -24px;
  border-style: solid;
  border-width: 0px 0px 25px 25px;
  border-color: transparent transparent #FFDE70 transparent;
}

#collectives .solid-display .solid-display-labelled-boolean label:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0px;
  right: -24px;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent transparent #FFDE70 transparent;
}

#collectives .other-cell {
  float: left;
}

#collectives .other-cell .bckg-purple {
  width: 220px;
  height: 290px;
  position: relative;
  margin: 15px;
}

#collectives .other-cell p {
  width: 160px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 100px;
  line-height: 25px;
  font-size: 1.8rem;
  font-weight: 200;
}

#collectives .other-cell .link {
  font-size: 2rem;
}

#creer-un-collectif .page-top h1 {
  width: 500px;
  max-width: 95%;
}

#creer-un-collectif .page-second h2 {
  margin-bottom: 15px;
}

#creer-un-collectif .page-second .icon-check:before {
  left: 15px;
  color: #5CDABF;
}

#creer-un-collectif .page-third .container-parall .img-parall {
  height: 560px;
}

#creer-un-collectif .page-third .container-parall .img-parall .parall-1,
#creer-un-collectif .page-third .container-parall .img-parall .parall-2 {
  height: 600px;
  width: 350px;
}

#creer-un-collectif .page-third .container-parall .img-parall .parall-1 {
  background: url("/media/img/desk2sur2.svg") left 0 no-repeat;
}

#creer-un-collectif .page-third .container-parall .img-parall .parall-2 {
  background: url("/media/img/desk1sur2.svg") right 0 no-repeat;
}

#creer-un-collectif .page-fourth p {
  max-width: 275px;
  margin: auto;
  font-size: 1.6rem;
}

#creer-un-collectif .page-fourth img {
  height: 80px;
  width: auto;
}

#creer-un-collectif .page-fourth .plus-size {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

#evenements .solid-form-search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#evenements .solid-form-search form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#evenements .solid-form-search .solid-form-dropdown-label {
  display: block;
  width: 50%;
  min-width: 300px;
  max-width: 660px;
  padding: 15px;
}

#evenements .solid-form-search .solid-form-dropdown-label label,
#evenements .solid-form-search .solid-form-dropdown-label select {
  width: 100%;
  position: relative;
  color: #485C9F;
  font-family: Gotham;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.3rem;
}

#evenements .solid-form-search .solid-form-dropdown-label label::before {
  position: absolute;
  content: "\F140";
  font-family: 'Material Design Icons';
  z-index: 1;
  right: 15px;
  font-size: 2.7rem;
  bottom: -55px;
}

#evenements .solid-form-search .solid-form-dropdown-label select {
  height: 45px;
  background-color: #F1F2F9;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 15px;
}

#evenements .events-grid>div {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#evenements .events-grid>div .solid-display {
  width: 300px;
  height: 450px;
  background-color: #F1F2F9;
  margin: 15px;
  cursor: pointer;
}

#evenements .events-grid>div .solid-display [name="grid"] {
  display: block;
  height: 100%;
  position: relative;
}

#evenements .events-grid>div .solid-display [name="grid"] img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

#evenements .events-grid>div .solid-display [name="grid"] .nextevent-starthour {
  display: none;
}

#evenements .events-grid>div .solid-display [name="info"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  padding: 15px 20px 10px;
  color: #2D3A67;
}

#evenements .events-grid>div .solid-display [name="info"] hd-display-startdate-events {
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: 600;
}

#evenements .events-grid>div .solid-display [name="info"] .nextevent-name {
  font-family: Gotham;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 2.3rem;
}

#evenements .events-grid>div .solid-display hd-display-location-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 27%;
  padding: 10px 20px 20px;
  font-family: Avenir;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

#evenements .events-grid>div .solid-display hd-display-location-events .event-place-name a {
  color: #485C9F;
  font-weight: 600;
}

#evenements .events-grid>div .solid-display hd-display-location-events .event-place-address a {
  color: #485C9F;
  font-weight: 300;
}

#evenements .events-grid>div .solid-display hd-display-type {
  position: absolute;
  right: 20px;
  top: calc(50% + 15px);
  font-family: Avenir;
  font-size: 1.5rem;
  border-radius: 11.5px;
}

#evenements .events-grid>div .solid-display>div {
  height: 100%;
}

#evenements .events-grid>div div[name="popup"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#evenements hd-display-type {
  color: #FFFFFF;
  font-weight: 600;
  background-color: #6760D2;
  text-align: center;
  padding: 0 15px;
}

#evenements dialog[open]:not([hidden])~.solid-link {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #141C3A;
  z-index: 100148;
  opacity: 0.8;
  margin: 0;
}

#evenements dialog {
  z-index: 100149;
  width: 50%;
  max-width: 620px;
  min-width: 300px;
  font-family: Avenir;
  font-size: 1.8rem;
  color: #485C9F;
  padding: 0;
  border: none;
  top: 50px;
  position: fixed;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

#evenements dialog .solid-display-img img {
  height: auto;
  width: 100%;
}

#evenements dialog [name=infos] {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

#evenements dialog [name=firstline] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;
}

#evenements dialog [name=firstline] .solid-display-value {
  color: #2D3A67;
  font-family: Gotham;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 3.2rem;
  margin-bottom: 10px;
}

#evenements dialog [name=firstline] hd-display-type {
  border-radius: 15px;
  height: 3rem;
}

#evenements dialog [name=firstline] hd-display-type .event-type {
  line-height: 3rem;
  font-size: 2rem;
}

#evenements dialog hd-display-description {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #CFDCFF;
}

#evenements dialog hd-display-description p {
  font-weight: 300;
}

#evenements dialog hd-display-time-event .mdi {
  color: #2D3A67;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 700;
}

#evenements dialog hd-display-time-event .mdi-calendar-text {
  width: 170px;
}

#evenements dialog .mdi::before {
  color: #5CDABF;
  font-size: 2.4rem;
  margin: 0 10px 0 0;
}

#evenements dialog hd-display-linkevent {
  margin-bottom: 25px;
  max-width: 100%;
  overflow: hidden;
}

#evenements dialog hd-display-linkevent a {
  font-weight: 300;
  text-decoration: underline;
  color: #485C9F;
}

#evenements dialog hd-display-location-events a {
  color: #2D3A67;
  font-size: 2rem;
  line-height: 3rem;
}

#evenements dialog hd-display-location-events .event-place-name a {
  font-weight: bold;
}

#evenements dialog hd-display-location-events .event-place-address a {
  font-weight: 300;
  text-decoration: underline;
}

#evenements dialog hd-button-facebook {
  margin: 25px auto;
}

#evenements dialog hd-button-facebook a {
  padding: 15px;
  box-shadow: 15px 15px 20px 0 rgba(0, 0, 0, 0.19);
}

#evenements dialog hd-button-facebook a:hover {
  text-decoration: none;
  font-weight: 700;
}

#evenements dialog .mdi-window-close {
  position: absolute;
  top: 25px;
  right: 25px;
}

#evenements dialog .mdi-window-close::before {
  font-size: 3.5rem;
  color: white;
}

#evenements dialog .share {
  background-color: #6760D2;
  height: 66px;
  padding: 0 30px;
}

#evenements dialog .share .twshare {
  margin: 0 15px;
}

#evenements dialog .share .fbshare {
  margin-right: 15px;
}

#evenements dialog .share span,
#evenements dialog .share a.mdi:before {
  line-height: 66px;
  color: white;
}

#evenements dialog .share span {
  font-size: 2rem;
}

#evenements dialog .share a.mdi:before {
  font-size: 20px;
}

@media (max-width: 440px) {
  #evenements dialog {
    font-size: 1.6rem;
  }

  #evenements dialog hd-display-time-event .mdi {
    font-size: 1.8rem;
  }
}

#mentions a {
  color: #666F8E;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

#mentions p {
  margin: 3rem 0;
}

#mentions .page-second {
  min-height: 750px;
}

#mentions .parall-1,
#mentions .parall-2 {
  height: 600px;
  width: 175px;
}

#mentions .parall-1 {
  background: url("/media/img/planete-haut-2sur2.svg") left 0 no-repeat;
}

#mentions .parall-2 {
  background: url("/media/img/planete-haut-1sur2.svg") right 0 no-repeat;
}

#mentions li {
  margin: 3rem 0;
  font-size: 1.8rem;
  font-family: "Avenir" !important;
  line-height: 2.4rem;
}

#mentions .icon-check::before {
  left: 15px;
  font-size: 1.8rem;
  font-family: 'icomoon' !important;
}

#mentions .mt-5 {
  margin-top: 5rem !important;
}

dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}

dialog:not([open]) {
  display: none;
}

dialog+.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

.blue-bg {
  background-color: #455b9d;
}

.justify-center {
  justify-content: center;
}

.lien-manifeste:hover {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2rem;
  cursor: pointer;
}


.mailchimp-newsletter {
  position: fixed;
  right: 3%;
  bottom: 6%;
  background: white;
  z-index: 999999;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgb(218, 218, 218);
}

@media (max-width: 780px) {
  .mailchimp-newsletter {
    position: relative;
    bottom: inherit;
    right: inherit;
    width: 90%;
    margin: auto;
  }
}

.mailchimp-newsletter h2 {
  font-size: 25px;
  color: #6259E5;
}

.mailchimp-newsletter .mc-field-group {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.mailchimp-newsletter input {
  border-radius: 15px;
  margin-bottom: 1rem;
}

#mc-embedded-subscribe {
  font-size: 15px;
  background-color: white;
  border: 1px solid rgb(144, 144, 144);
}


.mce_inline_error {
  margin: 0 0 1em 0;
  padding: 5px 10px;
  background-color: #ffffff !important;
  font-weight: bold;
  z-index: 1;
  color: #000 !important;
  border-color: black !important;
}